* {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

header {
    background-color: #007189;
    text-align: center;
    width: 100%;
    position:fixed;
    margin: 0px, 0px, 20px, 0px;
}

main {
    background-color: #cc9bac;
}

#contactform {
    background-color: #95c2cb;
}

a {
    color: white;
}

h1 {
    color: white;
    font-size: 48px;
}

nav li {
    display: inline-block;
    font-size: 20px;
}

footer {
    position: fixed;
}