* {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;

}

header {
    background-color: purple;
    padding: 50px, 0px, 0px, 0px;
    text-align: center;
    position: sticky;
    width: 100%;
}

#contactform {
    background-color: lightgrey;
}

h1 {
    color: yellow;
}

nav {
    display: inline;
}

footer {
    position: fixed;
}